@import 'typography';
@import 'variables';
@import 'mixins';
@import 'components';

* {
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 3px solid $green;
  outline-offset: 1px;
  &.select {
    outline-offset: -3px;
  }
}
body {
  box-sizing: border-box;
}
main {
  padding-top: 5rem;
}
